.loader {
    animation: spin-animation 1.5s infinite linear;
    display: block;
}
@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(365deg);
    }
}

.genre{
    cursor: pointer;
    transition: all 0.2s;
}
.genre:hover{
  
    background-color: rgba(78, 72, 72, 0.5);
    transition: all 0.2s;
}
.genre-active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: #121212;
    transition: all 0.2s;
}

.btn{
    color: #818181 !important;
    cursor: pointer;
}
.btn:hover{
    color: #fff !important;
}


.btn-store{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
    padding: 10px !important;
    background-color: #2d2d2d !important;
    border-radius: 8px !important;
    color: #818181 !important;
}

.btn-store:hover{
    background-color: #fff !important;
}


